<%!-- Landing Page Area --%>
<.landing_navigation conn={@conn} current_user={@current_user} />
<.flash_group flash={@flash} />

<div>
  {@inner_content}
</div>

<script>
  //document.body.style.background = "#fff7d4"; 
</script>
