<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <%!-- TODO Make Page Titles --%>
    <.live_title suffix={ " · #{Application.get_env(:planet, Planet.Mailer)[:app_name]}"}>
      {assigns[:page_title] || "Page"}
    </.live_title>
    <%!-- <.live_title>
      App Name
    </.live_title> --%>

    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased">
    <%!-- Old Nav --%>
    <div x-data="{ open: false }" class="bg-green-100 border-b border-b-green-200">
      <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <!-- Logo -->
          <div class="flex-shrink-0 flex items-center">
            <!-- Replace 'logo.png' with your actual logo path -->
            <%!-- <img class="hidden h-8 w-auto" src="logo.png" alt="Logo" /> --%>

            <a href="/">
              <img class="block h-8 w-auto" src={~p"/images/logo.svg"} width="36" />
            </a>
          </div>
          <!-- Menu items -->
          <div class="flex justify-center flex-grow">
            <!-- Add your menu items here -->
        <!-- For example, you can add links to different pages -->
            <ul class="flex space-x-4">
              <li>
                <a href="#" class="text-black px-3 py-2 rounded-md text-sm font-medium">
                  Home
                </a>
              </li>
              <li>
                <a href="#" class="text-black px-3 py-2 rounded-md text-sm font-medium">
                  About
                </a>
              </li>
              <li>
                <a href="#" class="text-black px-3 py-2 rounded-md text-sm font-medium">
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <!-- Login and Signup buttons -->
          <div class="flex items-center gap-2">
            <a href="#" class="text-black px-3 py-2 rounded-md text-sm font-medium">
              Login
            </a>
            <a
              href="#"
              class="text-#[485858] bg-[#B4DCDD] px-3 py-2 rounded-md text-sm font-medium"
            >
              Signup
            </a>
          </div>
          <!-- Mobile menu toggle -->
          <div class="flex items-center sm:hidden">
            <button @click="open = !open" class="text-black p-2 rounded-md">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M4 6h16M4 12h16m-7 6h7"
                >
                </path>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <!-- Mobile menu -->
      <div x-show="open" class="sm:hidden">
        <div class="px-2 pt-2 pb-3 space-y-1">
          <!-- Add mobile version of menu items here -->
      <!-- For example, you can add links to different pages -->
          <a href="#" class="text-black block px-3 py-2 rounded-md text-base font-medium">
            Home
          </a>
          <a href="#" class="text-black block px-3 py-2 rounded-md text-base font-medium">
            About
          </a>
          <a href="#" class="text-black block px-3 py-2 rounded-md text-base font-medium">
            Contact
          </a>
        </div>
      </div>
    </div>

    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          {@current_user.email}
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/settings/team"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Team
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/billing"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Billing
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/log_in"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>

    {@inner_content}

    <%!-- For Timezone Suport: User Settings  --%>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.5/js.cookie.min.js"
      integrity="sha512-nlp9/l96/EpjYBx7EP7pGASVXNe80hGhYAUrjeXnu/fyF5Py0/RXav4BBNs7n5Hx1WFhOEOWSAVjGeC3oKxDVQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    </script>

    <%!-- For Device Name & Browser Suport: User Credentials  --%>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/UAParser.js/1.0.35/ua-parser.min.js"
      integrity="sha512-NFakOi+DmIPYaw0Nv1JKnISn+SrB35pOgOWAtHOJc5BcDFzAI7QHRHqoABXZM59lSkmTq7Hy6b3R2fMHZRvHaQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >
    </script>
  </body>
</html>
