<section class="bg-white border border-gray-100 rounded-sm shadow-sm p-8">
  <h2 class="text-2xl text-center tracking-tight font-extrabold text-gray-900 dark:text-white">
    Payment Verification
  </h2>
</section>
