@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=fallback');
/* This file is for your main application CSS */
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;800&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=fallback'); */

@keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .gradient-bg {
    background: linear-gradient(-45deg, 
      rgba(255, 241, 235, 0.8), /* Light peach */
      rgba(255, 235, 245, 0.8), /* Light pink */
      rgba(230, 245, 255, 0.8), /* Light blue */
      rgba(235, 255, 250, 0.8)  /* Light teal */
    );
    background-size: 400% 400%;
    animation: gradientBG 3s ease infinite;
    transition: all 0.3s ease;
  }

  .gradient-hover:hover {
    background: linear-gradient(-45deg, 
      rgba(255, 241, 235, 0.8), /* Light peach */
      rgba(255, 235, 245, 0.8), /* Light pink */
      rgba(230, 245, 255, 0.8), /* Light blue */
      rgba(235, 255, 250, 0.8)  /* Light teal */
    );
    background-size: 400% 400%;
    animation: gradientBG 3s ease infinite;
    transition: all 0.3s ease;
  }
  

  .gradient-hover:hover {
    background: linear-gradient(-45deg, 
      rgba(255, 241, 235, 0.8), /* Light peach */
      rgba(255, 235, 245, 0.8), /* Light pink */
      rgba(230, 245, 255, 0.8), /* Light blue */
      rgba(235, 255, 250, 0.8)  /* Light teal */
    );
    background-size: 400% 400%;
    animation: gradientBG 3s ease infinite;
    transition: all 0.3s ease;
  }
  
  /* Optional: add a subtle text shadow to improve readability further */
  .gradient-hover:hover * {
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }



  .progress {
    animation: progress 1s infinite linear;
  }
  
  .left-right {
      transform-origin: 0% 50%;
  }
      @keyframes progress {
      0% {
          transform:  translateX(0) scaleX(0);
      }
      40% {
          transform:  translateX(0) scaleX(0.4);
      }
      100% {
          transform:  translateX(100%) scaleX(0.5);
      }
  }