You have been invited!

Hi <%= @assigns.reciever_email %>,

Good news! <%= @assigns.invite_sender_email %> has invited you to to collaborate with them on AppOS.

Confirm Invite and Setup Your Account.

- <%= @assigns.action_url %> -

If you have any questions for <%= @assigns.invite_sender_email %>, you can reply to this email and and it will go right to them.
