New email address?

Your sign-in email address for {@assigns.app_name} was changed to {@assigns.reciever_email}.

If you did not request this change, please ignore this email.

Confirm Email Change.
- {@assigns.action_url} -

This link is only valid for the next 24 hours.
