Hello {@assigns.name},

Welcome to {@assigns.app_name},

Thank you for signing up to {@assigns.app_name}.

We're really happy to have you onboard! Click the link below to login to your account:

Login and confirm your account.
- {@assigns.action_url} -

We require this confirmation to send you critical information about our service and it is important that we have an accurate email address.
